body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    background-color: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    position: relative;
    width: 800px;
    height: 600px;
    display: flex;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

section .container .img-box{
    position: relative;
    width: 50%;
    height: 100%;
}

section .container .img-box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

section .container .content-box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container .content-box h1 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

section .container .content-box .input-box {
    width: 200px;
    margin-top: 10px;
}

section .container .content-box .input-box input {
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    margin: 0px;
    width: 100%;
}